!--Colors and fonts----------------------

#define fg		#ffffff
#define bg		#181818
#define gray	#414141
#define font1 Inconsolata Nerd Font:style=Regular

!--dmenu settings------------------------

dmenu.font: font1:size=12
! Normal 
dmenu.foreground: fg
dmenu.background: bg
! Current active item
dmenu.selforeground: fg
dmenu.selbackground: gray
!Letters matching search string
dmenu.highlightforeground: bg
dmenu.highlightbackground: gray
!Letters matching search string while item is active
dmenu.selhighlightforeground: fg
dmenu.selhighlightbackground: gray
!Selected entries with Ctrl-Enter
dmenu.outforeground: bg
dmenu.outbackground: fg

!--dwm settings------------------------

dwm.font: font1:size=12

dwm.foreground: fg
dwm.background: bg
dwm.selforeground: fg
dwm.selbackground: gray
